{% extends 'base.html' %}
{% block content %}
    <div id="main">
      <div class="inner">
          <header id="inner">
            <h1>Hello, Student!</h1>
            <p>Welcome to Online Library Management System. You can access various features after Login.</p>
          </header>
          <br>
          <p>
            <a class="btn btn-dark btn-lg" href="student-signup" role="button">SignUp</a>
            <a class="btn btn-outline-dark btn-lg" href="student-login" role="button">Login</a>
          </p>

          </section>
        <br>
      </div>
    </div>

{% endblock %}