{% extends 'base2.html' %}
{% block content %}

<style>
.success{
	text-align: center;
}
</style>
<div class="container">
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-7">
			<section class="content-header">
				<h1 class="success">
					Book Added Successfully!
				</h1>
			</section> <br> <br>
			<div class="col-md-12">
				<div class="box box-success">
					<div class="box-body ">

						<div class="options" style="text-align:center">
							<a class="btn btn-warning" href="addbook">Click here to add more Book</a>
							<a  class="btn btn-success" href="viewbook">Click here to view Book in Library</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}