{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	.issue-error{
		margin-left: -12px;
		color: red;
		font-size: 16px;
	}
</style>
<div class="content">
    <div class="col-md-6 col-md-offset-3">
      <section class="content-header">
        <h1>
          Issue Book
        </h1>
      </section><br>
      <div class="box box-warning">
        <div class="box-body ">
          <div class="content">

            <form method="post" class="form-horizontal">
              {% csrf_token %}
              {% if error %}
              <p class="issue-error">{{error}}</p>
              {% else %}
              {% endif %}
              {{ form|crispy }}

              <div class="form-group">
                <button type="submit" class=" btn btn-block text-warning">Issue</button>
              </div>
            </form>
            <div class="text-center">View Issued Books by Students <a href="{% url 'viewissuedbook' %}">Click here</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}