{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content">
    <div class="col-md-6 col-md-offset-3">
      <section class="content-header">
        <h1>
          Issue Book
        </h1>
      </section><br>
      <!-- USERS LIST -->
      <div class="box box-warning">
        <!-- /.box-header -->
        <div class="box-body ">
          <div class="content">

            <form method="post" class="form-horizontal">
              {% csrf_token %}

              {{ form|crispy }}

              <div class="form-group">
                <button type="submit" class=" btn btn-block text-warning">Issue</button>
              </div>

            </form>
            <div class="text-center">View Issued Book to Student <a href="viewissuedbook">Click here</a></div>
          </div>
        </div>
      </div>
      <!-- /.box-footer -->
    </div>
    <!--/.box -->
  </div>

{% endblock %}