{% extends 'base2.html' %}
{% block content %}
<style>
  .s-name{
      text-transform: capitalize;
  }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<div class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Students</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
        {% if students %}
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Name</th>
              <th>Enrollment</th>
              <th>Department</th>
            </tr>
          </thead>
          <tbody>
            {% for s in students %}
            <tr>
              <td class="s-name">{{s.get_name}}</td>
              <td>{{s.enrollment}}</td>
              <td>{{s.department}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h1>No Student Registered in Library Management System!</h1>
        {% endif %}
      </div>
      <!-- /.table-responsive -->
    </div>
  </div>
</div>




{% endblock %}