{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content">
	<div class="col-md-6 col-md-offset-3">
		<section class="content-header">
			<h1>
				Add Book In Library
			</h1>
		</section><br>
		<div class="box box-warning">
			<div class="box-body ">
				<div class="content">

					<form method="post" class="form-horizontal" enctype='multipart/form-data'>
						{% csrf_token %}

						{{ form|crispy }}

						<div class="form-group">
							<button type="submit" class=" btn btn-block text-warning">Add</button>
						</div>

					</form>
					<div class="text-center">View Available Book In Library<a href="viewbook"> Click here</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}