{% extends 'base.html' %}
{% block content %}
    <div id="main">

      <br>
      <br>

      <div class="inner">
        <!-- About Us -->
        <header id="inner">
          <h1>Hello, Librarian!</h1>
          <p>Welcome to Online Library Management System. You can access various features after Login.</p>
        </header>

        <br>

        <p>
          <a class="btn btn-dark btn-lg" href="adminlogin" role="button">Login</a>
        </p>

        </section>
        <br>
      </div>

    </div>

    {% endblock %}