{% extends 'base2.html' %}
{% block content %}


<section class="content-header">
  <h1>
    Dashboard
    <small></small>
  </h1>
</section>


<div class="col-lg-3 col-xs-6">
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>{{student}}</h3>

      <p>Students</p>
    </div>

  </div>
</div>
<div class="col-lg-3 col-xs-6">
  <div class="small-box bg-green">
    <div class="inner">
      <h3>{{book}}</h3>

      <p>Total Books</p>
    </div>
  
  </div>
</div>
<div class="col-lg-3 col-xs-6">
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>{{isue}}</h3>

      <p>Issued Books</p>
    </div>
  
  </div>
</div>


{% endblock %}