{% extends 'base2.html' %}
{% block content %}
<section class="content-header">
      <h1>
            Book Issued Successfully!
      </h1>
</section> <br> <br>
<div class="col-md-6">
      <!-- USERS LIST -->
      <div class="box box-success">
            <!-- /.box-header -->
            <div class="box-body ">

                  <div class="options" style="text-align:center">
                        <a class="btn btn-warning" href="issuebook">Click here to issue more Book</a>
                        <a class="btn btn-success" href="viewissuedbook">Click here to view Issued Book</a>
                  </div>
            </div>
            <!-- /.box-footer -->
      </div>
      <!--/.box -->
</div>
{% endblock %}