{% extends 'base2.html' %}
{% block content %}
<!-- Main -->
<section class="content-header">
	<h1>
		Book Added Successfully!
	</h1>
</section> <br> <br>
<div class="col-md-6">
	<!-- USERS LIST -->
	<div class="box box-success">
		<!-- /.box-header -->
		<div class="box-body ">

			<div class="options" style="text-align:center">
				<a class="btn btn-warning" href="addbook">Click here to add more Book</a>
				<a  class="btn btn-success" href="viewbook">Click here to view Book in Library</a>
			</div>
		</div>
		<!-- /.box-footer -->
	</div>
	<!--/.box -->
</div>
{% endblock %}