{% extends 'base2.html' %}
{% block content %}

<style>
.delete{
	margin-top:45px;
}
.book-name{
	color:darkblue;
	font-weight:600;
}
</style>

<div class="container">
	<div class="row delete">
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<div class="box box-danger">
				<div class="box-body ">
					<form method="POST">
						{% csrf_token %}
						Do you want to delete <span class="book-name">{{book.name}}<span> book?
						<input type="submit" value="Yes" />
						<a href="{% url 'viewbook' %}">Cancel </a>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}