{% extends 'base2.html' %}
{% block content %}
<div class="container">

  <section class="content-header">
    <h1>
      Issue Book
    </h1>
  </section> <br> <br>
<div class="col-md-6">
	<!-- USERS LIST -->
	<div class="box box-warning">
		<!-- /.box-header -->
		<div class="box-body ">

      <form method="post" class="form-horizontal">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
          <label class="control-label col-xs-4">{{ field.label_tag }}</label>
          <div class="col-xs-8">
            {{ field }}
          </div>
        </div>
        {% endfor %}


        <div class="form-group">
          <div class="col-xs-8 col-xs-offset-4">
            <button type="submit" class="text-warning">Issue</button>
          </div>
        </div>
      </form>
      <div class="text-center">View Issued Book to Student <a href="viewissuedbook">Click here</a></div>
    
		</div>
		<!-- /.box-footer -->
	</div>
	<!--/.box -->
</div>
</div>

{% endblock %}