{% extends 'base2.html' %}
{% block content %}
<!-- Main -->
	<div class="container">

		<section class="content-header">
			<h1>
				Update Book In Library
			</h1>
		</section> <br> <br>


		<div class="col-md-6">
			<!-- USERS LIST -->
			<div class="box box-success">
				<!-- /.box-header -->
				<div class="box-body ">

					<form method="post" class="form-horizontal" enctype='multipart/form-data'>

						{% csrf_token %}

						{% for field in form %}
						<div class="form-group">
							<label class="control-label col-xs-4">{{ field.label_tag }}</label>
							<div class="col-xs-8">
								{{ field }}
							</div>
						</div>
						{% endfor %}
						<div class="form-group">
							<div class="col-xs-8 col-xs-offset-4">
								<button type="submit" class="btn btn-success">Update</button>
							</div>
						</div>
					</form>
					<div class="text-center">View Available Book In Library<a href="viewbook">Click here</a></div>
					<!-- /.users-list -->
				</div>
				<!-- /.box-footer -->
			</div>
			<!--/.box -->
		</div>
	</div>
	{% endblock %}