{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .back{
        margin-right: 20px;
    }
    strong{
        color:red;
    }
    .form-text{
        display:none;
    }
</style>

<div class="content">
    <div class="col-md-6 col-md-offset-3">

        <div class="box box-warning">
            <div class="box-body ">
                <div class="content">
                    <h2>Change Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <a href="{% url 'after_login' %}" class="back">Back</a>
                        <button class="btn btn-warning " type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}