{% extends 'base.html' %}
{% block content%}
<section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
        <div class="container mt-5 pt-5 mb-5 pb-5">

            <div class="row justify-content-center">
                <div class="col-md-6 bg-light border p-5">
                    <div class="text-center" style="width: 80%; margin: 0 auto">
                        <h4>Password reset sent</h4>
                        <p>We’ve emailed you instructions for setting your password, if an account exists with the email
                            you
                            entered. You should receive them shortly.</p><br>
                        <p>If you don’t receive an email, please make sure you’ve entered the address you registered
                            with, and check
                            your spam folder.</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'home_view' %}">Return to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}